@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&display=swap');
.home-mobile, html {
  background-color: #F6F6F6;
  height: 400vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header-mobile {display: none;}

.header {
  align-items: center;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 19px 36px 19px 20px;
  position:inherit;
}

.nav-button {
  color: #3A9B8D;
  margin-top: 0;
  font-family: "Poppins", Helvetica;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  border: #F6F6F6;
  border-bottom: 3px solid #F6F6F6;
  background-color: transparent;
}
.nav-button:hover {
  color: #15554b;
  margin-top: 0;
  font-family: "Poppins", Helvetica;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  margin: 1rem;
  border-bottom: 3px solid #3A9B8D;
  padding: 1rem;
  background-color: #efefef;
  border-radius: 10;
}


.logo {
  height: 77px;
  object-fit: cover;
  position: relative;
  width: 77px;
}

.icon-menu {
  height: 35px;
  position: relative;
  width: 35px;
}

.one {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0;
  height: 90%;
}

.two {
  background-color: #323232;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  height: 100%;
  width: 100%;
}

.three {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 3rem 0;
  height: 100%;
  width: 100%;
}


.KeyboxSystem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
  padding: 10%;
}

.four {
  align-content: center;
  background-color: #323232;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0;
  height: 100%;
  width: 100%;
}

.render {
  margin: 1rem;
  max-width: 100%;
  height: auto;
}

.renders {
 display: flex;
 justify-content: center;
}

h1 {
  color: #3A9B8D;
  text-align: center;
  text-shadow: -1px 2px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Poppins;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0;
}

p {
  color: #000000;
  margin-top: 0;
  font-family: "Poppins", Helvetica;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  margin: 1rem;
}

.button {
  background: linear-gradient(335deg, #EDD500 0%, #FE8900 100%);
  border-radius: 4px;
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  padding: 1rem 2rem;
  align-items: center;
  margin: 1rem;
  color: #FFF;
  text-align: center;
  font-weight: 600;
}

.button:hover {
  box-shadow: -3px 4px 7px 0px rgba(0, 0, 0, 0.10);
}

.button:active {
  background: linear-gradient(335deg, #ffb300 0%, rgb(255, 68, 0) 100%);
  box-shadow: -3px 4px 7px 0px rgba(0, 0, 0, 0.20);
  border-radius: 4px;
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  padding: 1rem 2rem;
  align-items: center;
  margin: 1rem;
  color: #FFF;
  text-align: center;
  font-weight: 600;
}

.submit {
  align-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
}

.main-text {
  padding: 2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}


.teksty {
  align-items: center;
  display: inline-flex;
  gap: 1rem;
  justify-content: center;
  padding: 2rem;
  flex-shrink: 0;
  flex-wrap: wrap;
  max-width: 1000px;
}

.frame-2 {
  align-items: center;
  justify-content: center;
  align-self: stretch;
  border-radius: 0.75rem;
  background: #328478;
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 15rem;
  padding: 6px 10px;

}

.text-wrapper-2 {
  color: #FFFF;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
}

.h2 {
  color: #FFF;
  text-align: center;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: "Poppins", Helvetica;
  font-size: 1.5rem;
  font-weight: 700;
  flex-wrap: wrap;


}

h3 {
  font-family: "Poppins";
  font-size: 1.3rem;
  color: #FFF;
}


.keybox-3 {
  height: 170px;
  object-fit: cover;
  position: relative;
  width: 180px;
  margin: 2rem;
}

.div-wrapper {
  align-items: center;
  background: linear-gradient(180deg, rgb(58, 155, 141) 17.99%, rgb(66.84, 66.84, 148.54) 100%);
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: 29px;
  justify-content: center;
  padding: 6px 51px;
  position: relative;

}

.footer {
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  background-color: #1F1F1F;
  gap: 10px;
  left: 37px;
  bottom: 0;
  color: #FFF;
  font-family: "Poppins";
  text-align: center;
  padding: 1rem;
}

form {
  display: flex;
  flex-direction: column;
}

input[type=text] {

  padding: 12px;
  border: 1px solid #ccc;
  background: #F0F0F0;
  border-radius: 4px;
  resize: vertical;
  font-family: "Poppins";
}

textarea {

  padding: 12px;
  border: 1px solid #ccc;
  background: #F0F0F0;
  border-radius: 4px;
  resize: vertical;
  height: 200px;
  margin-bottom: 1rem;
  font-family: "Poppins";
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-family: 'Poppins';
  color: #FFF;
}

.h3 {
  color: #3A9B8D;
  font-size: 2rem; 
  font-family: 'Poppins'; 
  font-weight: '700'; 
  font-weight: 700;
  text-align: center;
}

.text2 {
  color: 'black';
  font-size: 1.5rem; 
  font-family: 'Poppins'; 
  font-weight: '700'; 
  word-wrap: 'break-word';
  text-align: center;
}

table {
  font-family: "Poppins";
  border-collapse: collapse;
  width: 100%;
  position: absolute;
  top:120px;
  background-color: #F6F6F6;
}

td, th {
  border: 1px solid #d9d6d6;
  text-align: center;
  padding: 20px;
}

td:hover {
  background-color: #e9e8e8;
}

.contact{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  width: 80%;
  gap: 2rem;
  margin-top: 5rem;

}

.phone, .email {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact p {
  color:white;
  font-size: 1rem;
  margin: 0;
}

.icon {
  font-size: 2rem;
  color: white;
  padding: 0rem 1rem
}

.icon:hover {
  color: rgb(58, 155, 141);
}

.icon:action {
  color: rgb(58, 155, 141);
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.icons {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

@media screen and (max-width: 750px){
  .renders {flex-direction: column;}
  #three {display: none;}
  .header-desktop {display: none;}
  .header-mobile {display: contents}
  .text2 { text-align: left; }
  .h3 { text-align: left; width: 100%; }
  .contact {flex-direction: column;}
}